---
import { slugify, formatDate } from "../data/utils";

const { title, pubDate, tag, image } = Astro.props;
---

<header>
  <div class="container">
    <small>
      <a href={"/category/" + slugify(tag)} class="badge">{tag}</a>
    </small>
  </div>
  <h1 class="h2">{title}</h1>
  <p>Written on {formatDate(pubDate)}</p>
  <img
    src={image.src}
    alt={image.alt}
    width="1200"
    height="400"
    class="hero-image"
    loading="eager"
    style="object-fit: cover; aspect-ratio: 5 / 2; width: 100%; height: auto;"
  />
</header>
