---
import { slugify, formatDate } from "../data/utils";
import Link from "./Link.astro";

const { frontmatter, url, tagType } = Astro.props;
const { title, pubDate, tag, image, description } = frontmatter;
const Tag = tagType;
---

<article class="card">
  <small>
    <a href={"/category/" + slugify(tag)} class="badge">{tag}</a>
  </small>
  <a href={url} aria-hidden="true" tabindex="-1">
    <img
      src={image.src}
      alt={image.alt}
      width="600"
      height="250"
      style="object-fit: cover; aspect-ratio: 3 / 1; width: 100%; height: auto;"
      loading="lazy"
      decoding="async"
    />
  </a>
  <div class="content">
    <Tag class="h3" href={url}>{title}</Tag>
    <p>{description}</p>
    <Link href={url} text="Read more" style="secondary" />
  </div>
</article>
