---
import MainLayout from "./MainLayout.astro";
import CsesPostHeader from "../components/CsesPostHeader.astro";

const { frontmatter } = Astro.props;

const { title, description, pubDate, tag, image } = frontmatter;
---

<MainLayout {title} {description}>
  <CsesPostHeader {title} {pubDate} {tag} {image} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
  </div>
</MainLayout>
